In [81]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
%matplotlib inline

# Scaping news articles from inshorts.com from three categories technology,sports and world.

In [82]:
seed_urls = ['https://inshorts.com/en/read/technology',
             'https://inshorts.com/en/read/sports',
             'https://inshorts.com/en/read/world']

def build_dataset(seed_urls):
    news_data = []
    for url in seed_urls:
        news_category = url.split('/')[-1]
        data = requests.get(url)
        soup = BeautifulSoup(data.content, 'html.parser')
        
        news_articles = [{'news_headline': headline.find('span', 
                                                         attrs={"itemprop": "headline"}).string,
                          'news_article': article.find('div', 
                                                       attrs={"itemprop": "articleBody"}).string,
                          'news_category': news_category}
                         
                            for headline, article in 
                             zip(soup.find_all('div', 
                                               class_=["news-card-title news-right-box"]),
                                 soup.find_all('div', 
                                               class_=["news-card-content news-right-box"]))
                        ]
        news_data.extend(news_articles)
        
    df =  pd.DataFrame(news_data)
    df = df[['news_headline', 'news_article', 'news_category']]
    return df

In [83]:
news_df = build_dataset(seed_urls)
news_df.head(10)

,news_headline,news_article,news_category
0,OnePlus 8 Pro to feature super fast 30W wirele...,The first OnePlus phone to support wireless ch...,technology
1,Twitter CEO to donate 28% of wealth for COVID-...,Twitter CEO Jack Dorsey has pledged $1 billion...,technology
2,Google Search for 'Living room concert' increa...,Google Trends data shows the search for 'Livin...,technology
3,"Apple plans to hire more than 1,000 interns am...",Apple in a statement to Axios said it plans to...,technology
4,Apple CEO Tim Cook to hold virtual Q&A with em...,Apple will organise a company-wide virtual mee...,technology
5,Google launches 'braille keyboard' for vision-...,Google has started rolling out a braille keybo...,technology
6,Facebook launches messaging app 'Tuned' for co...,Facebook's New Product Experimentation (NPE) T...,technology
7,WhatsApp makes group calling easier amid coron...,WhatsApp has made it easier to start a group c...,technology
8,Google bans Zoom from employees' laptops over ...,Google has banned Zoom video conferencing appl...,technology
9,Kenyan runners run solo half marathons for vir...,A group of 30 Kenyan runners from across the c...,technology

In [84]:
news_df.news_category.value_counts()

world         25
technology    24
sports        23
Name: news_category, dtype: int64

In [89]:
news_df.head()

,news_headline,news_article,news_category
0,OnePlus 8 Pro to feature super fast 30W wirele...,The first OnePlus phone to support wireless ch...,technology
1,Twitter CEO to donate 28% of wealth for COVID-...,Twitter CEO Jack Dorsey has pledged $1 billion...,technology
2,Google Search for 'Living room concert' increa...,Google Trends data shows the search for 'Livin...,technology
3,"Apple plans to hire more than 1,000 interns am...",Apple in a statement to Axios said it plans to...,technology
4,Apple CEO Tim Cook to hold virtual Q&A with em...,Apple will organise a company-wide virtual mee...,technology

# Scoring subjectivity and polarity of news articles using Text Blob

In [90]:
from textblob import TextBlob

In [91]:
# Create a function to get the subjectivity
def getSubjectivity(text):
   return TextBlob(text).sentiment.subjectivity

# Create a function to get the polarity
def getPolarity(text):
   return  TextBlob(text).sentiment.polarity

In [92]:
# Create two new columns 'Subjectivity' & 'Polarity'
news_df['Subjectivity'] = news_df["news_article"].apply(getSubjectivity)
news_df['Polarity'] = news_df["news_article"].apply(getPolarity)

# Show the new dataframe with columns 'Subjectivity' & 'Polarity'
news_df.head()

,news_headline,news_article,news_category,Subjectivity,Polarity
0,OnePlus 8 Pro to feature super fast 30W wirele...,The first OnePlus phone to support wireless ch...,technology,0.333333,0.250000
1,Twitter CEO to donate 28% of wealth for COVID-...,Twitter CEO Jack Dorsey has pledged $1 billion...,technology,0.391667,-0.083333
2,Google Search for 'Living room concert' increa...,Google Trends data shows the search for 'Livin...,technology,0.612500,0.279167
3,"Apple plans to hire more than 1,000 interns am...",Apple in a statement to Axios said it plans to...,technology,0.333333,0.125000
4,Apple CEO Tim Cook to hold virtual Q&A with em...,Apple will organise a company-wide virtual mee...,technology,0.000000,0.000000

In [93]:
# Create a function to compute negative (-1), neutral (0) and positive (+1) analysis
def getAnalysis(score):
 if score < 0:
  return 'Negative'
 elif score == 0:
  return 'Neutral'
 else:
  return 'Positive'


news_df['Analysis'] = news_df['Polarity'].apply(getAnalysis)

# Show the dataframe
news_df.head()

,news_headline,news_article,news_category,Subjectivity,Polarity,Analysis
0,OnePlus 8 Pro to feature super fast 30W wirele...,The first OnePlus phone to support wireless ch...,technology,0.333333,0.250000,Positive
1,Twitter CEO to donate 28% of wealth for COVID-...,Twitter CEO Jack Dorsey has pledged $1 billion...,technology,0.391667,-0.083333,Negative
2,Google Search for 'Living room concert' increa...,Google Trends data shows the search for 'Livin...,technology,0.612500,0.279167,Positive
3,"Apple plans to hire more than 1,000 interns am...",Apple in a statement to Axios said it plans to...,technology,0.333333,0.125000,Positive
4,Apple CEO Tim Cook to hold virtual Q&A with em...,Apple will organise a company-wide virtual mee...,technology,0.000000,0.000000,Neutral

In [94]:
fea_map_1 = {'technology':1, 'sports':2, 'world':3}
news_df['news_category'] = news_df['news_category'].map(fea_map_1)
news_df.head()

,news_headline,news_article,news_category,Subjectivity,Polarity,Analysis
0,OnePlus 8 Pro to feature super fast 30W wirele...,The first OnePlus phone to support wireless ch...,1,0.333333,0.250000,Positive
1,Twitter CEO to donate 28% of wealth for COVID-...,Twitter CEO Jack Dorsey has pledged $1 billion...,1,0.391667,-0.083333,Negative
2,Google Search for 'Living room concert' increa...,Google Trends data shows the search for 'Livin...,1,0.612500,0.279167,Positive
3,"Apple plans to hire more than 1,000 interns am...",Apple in a statement to Axios said it plans to...,1,0.333333,0.125000,Positive
4,Apple CEO Tim Cook to hold virtual Q&A with em...,Apple will organise a company-wide virtual mee...,1,0.000000,0.000000,Neutral

In [95]:
fea_map = {'Neutral':0, 'Positive':1, 'Negative':-1}
news_df['Analysis'] = news_df['Analysis'].map(fea_map)
news_df.head()

,news_headline,news_article,news_category,Subjectivity,Polarity,Analysis
0,OnePlus 8 Pro to feature super fast 30W wirele...,The first OnePlus phone to support wireless ch...,1,0.333333,0.250000,1
1,Twitter CEO to donate 28% of wealth for COVID-...,Twitter CEO Jack Dorsey has pledged $1 billion...,1,0.391667,-0.083333,-1
2,Google Search for 'Living room concert' increa...,Google Trends data shows the search for 'Livin...,1,0.612500,0.279167,1
3,"Apple plans to hire more than 1,000 interns am...",Apple in a statement to Axios said it plans to...,1,0.333333,0.125000,1
4,Apple CEO Tim Cook to hold virtual Q&A with em...,Apple will organise a company-wide virtual mee...,1,0.000000,0.000000,0

In [96]:
data = news_df.drop(["news_headline","Subjectivity", "Polarity","Analysis"],axis=1)

In [97]:
data.head()

                                        news_article  news_category
0  The first OnePlus phone to support wireless ch...              1
1  Twitter CEO Jack Dorsey has pledged $1 billion...              1
2  Google Trends data shows the search for 'Livin...              1
3  Apple in a statement to Axios said it plans to...              1
4  Apple will organise a company-wide virtual mee...              1

In [112]:
import re
nlp_data = str(data.iloc[:,0])
nlp_data = re.sub("[^a-zA-Z]"," ",nlp_data)

In [113]:
nlp_data

'      The first OnePlus phone to support wireless ch          Twitter CEO Jack Dorsey has pledged    billion          Google Trends data shows the search for  Livin          Apple in a statement to Axios said it plans to          Apple will organise a company wide virtual mee                                                                  A unilateral two week ceasefire called by the           Doctors in Zimbabwe have filed a lawsuit again          All the lawmakers in Botswana s parliament hav          Maritime and Mercantile International  MMI   a          Mustafa Al Kadhimi  who is the chief of the Ir    Name  news article  Length      dtype  object'

In [114]:
#After return lower case
nlp_data = nlp_data.lower()

In [115]:
import nltk as nlp
nlp_data = nlp.word_tokenize(nlp_data)
#nlp_data = nlp_data.split() or we can do so

In [116]:
#we have to find word root
lemma = nlp.WordNetLemmatizer()
nlp_data = [lemma.lemmatize(word) for word in nlp_data]

In [117]:
nlp_data

['the',
 'first',
 'oneplus',
 'phone',
 'to',
 'support',
 'wireless',
 'ch',
 'twitter',
 'ceo',
 'jack',
 'dorsey',
 'ha',
 'pledged',
 'billion',
 'google',
 'trend',
 'data',
 'show',
 'the',
 'search',
 'for',
 'livin',
 'apple',
 'in',
 'a',
 'statement',
 'to',
 'axios',
 'said',
 'it',
 'plan',
 'to',
 'apple',
 'will',
 'organise',
 'a',
 'company',
 'wide',
 'virtual',
 'mee',
 'a',
 'unilateral',
 'two',
 'week',
 'ceasefire',
 'called',
 'by',
 'the',
 'doctor',
 'in',
 'zimbabwe',
 'have',
 'filed',
 'a',
 'lawsuit',
 'again',
 'all',
 'the',
 'lawmaker',
 'in',
 'botswana',
 's',
 'parliament',
 'hav',
 'maritime',
 'and',
 'mercantile',
 'international',
 'mmi',
 'a',
 'mustafa',
 'al',
 'kadhimi',
 'who',
 'is',
 'the',
 'chief',
 'of',
 'the',
 'ir',
 'name',
 'news',
 'article',
 'length',
 'dtype',
 'object']

In [118]:
#We join our data
nlp_data = " ".join(nlp_data)

In [120]:
nlp_data

'the first oneplus phone to support wireless ch twitter ceo jack dorsey ha pledged billion google trend data show the search for livin apple in a statement to axios said it plan to apple will organise a company wide virtual mee a unilateral two week ceasefire called by the doctor in zimbabwe have filed a lawsuit again all the lawmaker in botswana s parliament hav maritime and mercantile international mmi a mustafa al kadhimi who is the chief of the ir name news article length dtype object'

#  Punctuation Removal,  lower case conversion, Tokenization and Lemmatization

In [122]:
import re
description_list = []
for description in data["news_article"]:
    description = re.sub("[^a-zA-Z]"," ",description)
    description = description.lower()   
    description = nlp.word_tokenize(description)
    lemma = nlp.WordNetLemmatizer()
    description = [ lemma.lemmatize(word) for word in description]
    description = " ".join(description)
    description_list.append(description)

# Extracting Features using covent vectorizer

In [123]:
from sklearn.feature_extraction.text import CountVectorizer 
max_features = 3000 #We use the most common word
count_vectorizer = CountVectorizer(max_features = max_features, stop_words = "english")
sparce_matrix = count_vectorizer.fit_transform(description_list).toarray()
print("the most using {} words: {}".format(max_features,count_vectorizer.get_feature_names()))

the most using 3000 words: ['abd', 'able', 'absolutely', 'access', 'accessible', 'according', 'account', 'accurate', 'accused', 'action', 'adair', 'added', 'addicted', 'addiction', 'adequate', 'adil', 'admitted', 'aged', 'ago', 'agree', 'agriculture', 'ahead', 'aic', 'aid', 'aim', 'aimed', 'airbrushed', 'airline', 'akhtar', 'al', 'alcohol', 'alex', 'alipay', 'allah', 'allegation', 'allow', 'allowed', 'allows', 'amazon', 'american', 'amid', 'android', 'animal', 'announced', 'ant', 'anthony', 'anti', 'anytime', 'apart', 'apologised', 'app', 'appearing', 'apple', 'appliance', 'application', 'apply', 'appointment', 'apps', 'april', 'arabia', 'area', 'arises', 'army', 'arrested', 'ask', 'asked', 'assigned', 'associate', 'association', 'attack', 'attention', 'attracted', 'attributed', 'auctioning', 'australia', 'australian', 'automated', 'automatic', 'available', 'avoid', 'axios', 'bachelet', 'backed', 'ball', 'bangalore', 'banned', 'barham', 'barring', 'based', 'batsman', 'batting', 'bayley', 'bcci', 'bed', 'began', 'begin', 'behaviour', 'believe', 'benjamin', 'best', 'better', 'bid', 'big', 'biggest', 'billing', 'billion', 'bit', 'blame', 'blank', 'blatter', 'bloc', 'block', 'blocking', 'bloomberg', 'board', 'body', 'border', 'boris', 'borne', 'botswana', 'bought', 'bowler', 'bowling', 'braille', 'brazilian', 'break', 'breathe', 'breathing', 'breeding', 'bribed', 'bringing', 'british', 'brock', 'brompton', 'browser', 'build', 'business', 'buttler', 'buy', 'cable', 'california', 'called', 'calling', 'cam', 'came', 'cameraman', 'campus', 'canada', 'capability', 'cape', 'captain', 'captioned', 'care', 'caretaker', 'carry', 'cart', 'case', 'castaneda', 'categorically', 'cause', 'causing', 'cdc', 'ceasefire', 'center', 'centre', 'ceo', 'challenge', 'champ', 'champion', 'championship', 'change', 'charge', 'charger', 'charging', 'charity', 'chat', 'cheque', 'cheteshwar', 'chicago', 'chief', 'china', 'chinese', 'choice', 'chose', 'citing', 'citizen', 'city', 'civilisation', 'claim', 'claimed', 'clarke', 'class', 'classified', 'clean', 'client', 'clinical', 'clip', 'clock', 'closed', 'closely', 'closing', 'closure', 'club', 'cm', 'coach', 'coalition', 'collapse', 'college', 'collision', 'com', 'combination', 'come', 'commitment', 'companion', 'company', 'compatible', 'compete', 'competition', 'complaint', 'completely', 'computer', 'concern', 'concert', 'conclusion', 'conducting', 'conductive', 'conferencing', 'confirmed', 'conflict', 'connected', 'considered', 'constituting', 'constitution', 'consultant', 'consumption', 'contact', 'contain', 'conte', 'content', 'continuous', 'control', 'controller', 'conversation', 'cook', 'copper', 'coronarun', 'coronavirus', 'corp', 'corporate', 'correction', 'corruption', 'country', 'county', 'couple', 'course', 'court', 'coverage', 'covid', 'create', 'created', 'crew', 'cricket', 'cricketer', 'cricketing', 'cried', 'crisis', 'critical', 'criticised', 'crore', 'crush', 'cso', 'cup', 'cured', 'currently', 'custom', 'cut', 'dancing', 'data', 'date', 'daughter', 'david', 'day', 'deal', 'dealing', 'dear', 'death', 'debt', 'decision', 'declared', 'decrease', 'defeating', 'delayed', 'deliver', 'delivering', 'delivers', 'delivery', 'denied', 'designate', 'designated', 'designed', 'desktop', 'dev', 'developing', 'device', 'dhoni', 'did', 'didn', 'die', 'died', 'different', 'directly', 'disclosing', 'discussed', 'disease', 'display', 'disregard', 'dmitry', 'doctor', 'doe', 'doesn', 'dog', 'doing', 'dollar', 'domain', 'don', 'donald', 'donate', 'donated', 'donating', 'donation', 'dorsey', 'dot', 'double', 'downing', 'download', 'downward', 'draft', 'drew', 'drieu', 'drug', 'dubai', 'dying', 'early', 'easier', 'easily', 'easy', 'economic', 'edison', 'editor', 'effort', 'email', 'emergency', 'emirate', 'employee', 'enable', 'encrypted', 'end', 'ended', 'engage', 'engine', 'engineer', 'england', 'enjoy', 'enjoying', 'ensure', 'entered', 'entitled', 'entry', 'epicentre', 'epidemic', 'equipment', 'eric', 'estate', 'eu', 'european', 'event', 'ex', 'exclusively', 'executive', 'exhale', 'existential', 'expected', 'experience', 'experimental', 'experimentation', 'expert', 'exported', 'expressing', 'extend', 'extending', 'extra', 'extreme', 'face', 'facebook', 'facility', 'fact', 'factory', 'failed', 'fall', 'fallout', 'family', 'famous', 'far', 'fast', 'fauci', 'favela', 'favelas', 'fear', 'feature', 'featured', 'february', 'fell', 'felt', 'fifa', 'fight', 'fighting', 'figure', 'filed', 'final', 'finance', 'firm', 'fixing', 'flawless', 'flight', 'following', 'follows', 'food', 'footballer', 'forbes', 'forever', 'form', 'format', 'fortune', 'forward', 'founded', 'founder', 'foxconn', 'free', 'friday', 'friend', 'fund', 'furlough', 'future', 'game', 'gamequitters', 'gaming', 'gang', 'gavaskar', 'gave', 'gel', 'general', 'generation', 'geo', 'german', 'germany', 'gesture', 'giant', 'gift', 'gisat', 'giuseppe', 'given', 'giving', 'global', 'globally', 'going', 'golf', 'good', 'google', 'got', 'gould', 'government', 'gps', 'graduation', 'gravest', 'grocery', 'group', 'gslv', 'guideline', 'guterres', 'ha', 'half', 'hand', 'handled', 'handset', 'harbhajan', 'hardest', 'hardly', 'hardware', 'harefield', 'harvest', 'hasn', 'having', 'health', 'heart', 'hefty', 'held', 'helmet', 'help', 'henrique', 'high', 'highlighting', 'hire', 'history', 'hit', 'hitting', 'hold', 'holding', 'home', 'homemade', 'hoped', 'hospital', 'hospitalised', 'hospitality', 'host', 'hotel', 'houthi', 'human', 'hydroxychloroquine', 'hz', 'ian', 'icc', 'icon', 'icu', 'idea', 'identified', 'illness', 'imaging', 'impaired', 'implication', 'important', 'imported', 'imposed', 'impressed', 'improving', 'inadequate', 'inadmissible', 'including', 'incomprehensible', 'increase', 'increased', 'indefinitely', 'india', 'indian', 'indie', 'individual', 'indoors', 'infected', 'infection', 'infectious', 'influenza', 'information', 'informed', 'inhale', 'ink', 'instagram', 'instance', 'intel', 'intelligence', 'intensive', 'interaction', 'interactive', 'intern', 'internal', 'international', 'internship', 'introducing', 'invoice', 'involved', 'io', 'iphone', 'ipl', 'iran', 'iraqi', 'isn', 'isolate', 'isolation', 'israel', 'isro', 'issue', 'italian', 'italy', 'item', 'jack', 'jail', 'january', 'jersey', 'jewellery', 'johnson', 'joint', 'jos', 'jose', 'junior', 'just', 'justify', 'kadhimi', 'kaif', 'kane', 'kapil', 'kashyap', 'kenya', 'kenyan', 'kerala', 'key', 'keyboard', 'kid', 'kind', 'km', 'kohli', 'korea', 'kremlin', 'lakh', 'laptop', 'larger', 'largest', 'late', 'later', 'latif', 'launch', 'launched', 'lawmaker', 'lawsuit', 'layer', 'layout', 'le', 'league', 'led', 'legally', 'legislation', 'lesnar', 'letter', 'license', 'licked', 'licking', 'life', 'lifted', 'light', 'like', 'linked', 'liquor', 'live', 'liverpool', 'livestock', 'living', 'llc', 'load', 'local', 'lockdown', 'london', 'longer', 'lost', 'lot', 'love', 'loved', 'luiz', 'lung', 'machinery', 'maharashtra', 'mahdi', 'mail', 'major', 'make', 'makeover', 'making', 'mandetta', 'manicure', 'manufactured', 'manufacturer', 'manufacturing', 'marathon', 'march', 'maritime', 'mark', 'market', 'marriage', 'masisi', 'mask', 'mass', 'massive', 'match', 'matter', 'mcintyre', 'meat', 'medical', 'medicine', 'medium', 'medtronic', 'meet', 'meeting', 'member', 'memory', 'mercantile', 'mercedes', 'merchandise', 'message', 'michael', 'michel', 'michelle', 'microcontroller', 'microsoft', 'mid', 'militia', 'million', 'mind', 'minimum', 'minister', 'ministry', 'minor', 'minute', 'misinformation', 'missing', 'mistake', 'mit', 'mix', 'mmi', 'mobile', 'modi', 'mohammad', 'mokgweetsi', 'monday', 'money', 'monitored', 'month', 'moore', 'moved', 'mushtaq', 'music', 'muslim', 'mustafa', 'nairobi', 'named', 'namespace', 'narendra', 'nation', 'national', 'natural', 'nearly', 'need', 'needed', 'needing', 'negative', 'neighbourhood', 'netanyahu', 'network', 'new', 'night', 'nio', 'non', 'normal', 'note', 'nottingham', 'november', 'npe', 'number', 'numerous', 'nyt', 'object', 'obligation', 'obstacle', 'odi', 'odis', 'oesophageal', 'official', 'old', 'onboard', 'oneplus', 'ongoing', 'online', 'onmail', 'onsite', 'opener', 'operating', 'operation', 'opinion', 'opportunity', 'ordered', 'organisation', 'organise', 'organised', 'origin', 'outbreak', 'outside', 'overall', 'owned', 'owner', 'oxfam', 'oxygen', 'pace', 'package', 'pad', 'painting', 'pakistan', 'pandemic', 'papa', 'parliament', 'parliamentarian', 'partner', 'party', 'parupalli', 'passion', 'passport', 'past', 'patient', 'pawn', 'pay', 'payment', 'pc', 'peak', 'people', 'permission', 'persistent', 'person', 'personal', 'personnel', 'peskov', 'pet', 'peter', 'phase', 'phenomenal', 'phew', 'phone', 'photo', 'pick', 'piece', 'pinarayi', 'piston', 'plan', 'planned', 'platform', 'platini', 'play', 'player', 'playing', 'pledged', 'pm', 'police', 'population', 'portal', 'position', 'positive', 'possible', 'postponed', 'potential', 'poverty', 'ppe', 'ppes', 'practice', 'praised', 'praying', 'precaution', 'prefer', 'premier', 'president', 'prevent', 'prevention', 'previously', 'prime', 'prisoner', 'privacy', 'private', 'pro', 'process', 'processor', 'product', 'production', 'professor', 'progress', 'proposal', 'proposed', 'protect', 'protected', 'protective', 'protest', 'providing', 'proxy', 'psychiatrist', 'published', 'pujara', 'push', 'pushing', 'qi', 'quarantine', 'quarantined', 'question', 'race', 'raise', 'raised', 'rajasthan', 'ran', 'rashid', 'reaching', 'reactivating', 'read', 'ready', 'real', 'reason', 'rebel', 'recalling', 'receipt', 'received', 'receiving', 'recently', 'recipient', 'record', 'recorded', 'recovery', 'recreate', 'refresh', 'register', 'regular', 'relapsing', 'related', 'relief', 'remain', 'remember', 'remove', 'report', 'reported', 'representing', 'represents', 'repressive', 'rescue', 'resident', 'residential', 'resigned', 'respiratory', 'responding', 'response', 'resumed', 'retained', 'reuters', 'revealed', 'revenue', 'reverse', 'reversed', 'reviewed', 'revised', 'richards', 'rig', 'right', 'rise', 'rishi', 'rogue', 'rohit', 'role', 'rolling', 'room', 'royal', 'run', 'runner', 'running', 'runup', 'russia', 'russian', 'sachin', 'safe', 'safety', 'said', 'salaried', 'sale', 'salih', 'sandpaper', 'saqlain', 'satellite', 'saturday', 'saudi', 'save', 'saving', 'saw', 'say', 'saying', 'scandal', 'scared', 'scenario', 'scientist', 'screened', 'search', 'season', 'secretary', 'security', 'seeing', 'seen', 'self', 'send', 'sending', 'sensitive', 'sepp', 'serie', 'series', 'service', 'set', 'setting', 'seven', 'shake', 'shame', 'shane', 'share', 'shared', 'shareholder', 'sharma', 'shirt', 'shoaib', 'shopping', 'shortage', 'showed', 'showing', 'shuttler', 'significant', 'similar', 'singh', 'single', 'sit', 'site', 'situation', 'skipper', 'sledge', 'slow', 'smackdown', 'small', 'smartphones', 'smith', 'social', 'soft', 'software', 'solo', 'son', 'soon', 'sorry', 'sound', 'source', 'south', 'speak', 'speaking', 'specialised', 'specialist', 'spectator', 'speed', 'spike', 'spinner', 'spokesman', 'spotted', 'sprayed', 'spread', 'spreading', 'square', 'staff', 'stake', 'stamos', 'standard', 'start', 'started', 'state', 'statement', 'stating', 'statistic', 'stay', 'staying', 'stencil', 'steve', 'store', 'streamed', 'street', 'strengthening', 'student', 'subject', 'submit', 'subsidiary', 'sucked', 'sued', 'suggested', 'suifenhe', 'summer', 'sunak', 'sunday', 'sunil', 'supermarket', 'support', 'supposed', 'surface', 'surfaced', 'surrey', 'suspect', 'suspended', 'suspending', 'symbol', 'symptom', 'table', 'taken', 'taking', 'talk', 'talkback', 'talking', 'tamper', 'tank', 'tap', 'tapped', 'team', 'tech', 'technical', 'technically', 'telangana', 'tell', 'tendulkar', 'termed', 'terrorist', 'tesla', 'test', 'tested', 'thank', 'thing', 'think', 'thirty', 'threat', 'thursday', 'tie', 'tiktok', 'till', 'tim', 'time', 'timeline', 'today', 'told', 'toll', 'took', 'topper', 'total', 'touching', 'tourist', 'tournament', 'town', 'tracker', 'trading', 'traffic', 'trafficker', 'train', 'training', 'transferred', 'transmit', 'treatment', 'trend', 'trent', 'truly', 'trump', 'trying', 'tuesday', 'tuned', 'turbochargers', 'turmoil', 'turned', 'tv', 'tweeted', 'twitter', 'uae', 'uber', 'uefa', 'ui', 'uk', 'umpire', 'unauthorised', 'understand', 'unilateral', 'union', 'unit', 'united', 'university', 'unwashed', 'update', 'urged', 'urgency', 'use', 'used', 'user', 'using', 'utilised', 'value', 've', 'ventilator', 'victory', 'video', 'view', 'vijayan', 'viral', 'virat', 'virtual', 'virus', 'visually', 'viv', 'voice', 'volume', 'wa', 'wage', 'wake', 'want', 'wanted', 'waqar', 'war', 'ward', 'warne', 'warner', 'warp', 'wasn', 'watch', 'watching', 'way', 'weakness', 'wealth', 'wearing', 'webinar', 'wednesday', 'week', 'west', 'whatsapp', 'wicket', 'wicketkeeper', 'wide', 'widely', 'wildlife', 'williamson', 'window', 'wireless', 'wisconsin', 'woman', 'won', 'wore', 'work', 'worker', 'working', 'world', 'worldwide', 'worst', 'worth', 'wouldn', 'wrestlemania', 'written', 'wrong', 'wuhan', 'wwe', 'year', 'yemen', 'younis', 'youtube', 'yuan', 'yuvraj', 'zealand', 'zimbabwe', 'zoom', 'zuckerberg']

In [127]:
#We separate our data is train and test
y = data.iloc[:,1].values   # male or female classes
x = sparce_matrix
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3, random_state = 42)

# Building model

In [128]:
#We make model for predict
from sklearn.naive_bayes import MultinomialNB
nb =  MultinomialNB(alpha=0.7)
nb.fit(x_train,y_train)
print("the accuracy of our model: {}".format(nb.score(x_test,y_test)))

the accuracy of our model: 0.8181818181818182

In [129]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter = 200)
lr.fit(x_train,y_train)
print("our accuracy is: {}".format(lr.score(x_test,y_test)))

our accuracy is: 0.6363636363636364

In [133]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 2)
knn.fit(x_train,y_train)
#print('Prediction: {}'.format(prediction))
print('With KNN (K=3) accuracy is: ',knn.score(x_test,y_test))

With KNN (K=3) accuracy is:  0.5909090909090909